<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style media="screen">
      li {
        list-style-type: none;
      }
    </style>
  </head>
  <body>
    <div class="chat">
      <h1>Gil Chat: </h1>

      <form class="" action="<%= messages_url %>" method="POST">
        <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token %>">
        <textarea name="message[message]" rows="8" cols="80"></textarea>
        <input type="submit" value="send">
      </form>

      <ul id="message-list">
        <p>previous messages: </p>
        <% Message.all.each do |message| %>
          <li><%= "#{message.created_at}: #{message.message}" %></li>
        <% end %>
      </ul>
    </div>
  </body>
</html>
